@charset "utf-8";

.tab-2 {
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  gap: 0 10px;
  height: 70vh;
  width: 70%;
  margin: 20px auto;
}
.tab-2::-webkit-scrollbar {
  width: 16px;
}
.tab-2::-webkit-scrollbar-thumb {
  background: #b45913af;
  width: 16px;
  border-radius: 50px;
}

.img,
.skill,
.slide {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.mk {
  border-radius: 50%;
  width: 124px;
  height: 124px;
  display: block;
  margin: 0 auto;
}

.name {
  text-align: center;
}

.tab-text {
  font-size: 16px;
  line-height: 1.8;
  color: black;
}
.center-text {
  text-align: center;
  font-size: 12px;
}

.stab-text {
  font-size: 12px;
  line-height: 1.8;
  color: black;
}

.hobby-a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #e38800eb;
  border-radius: 5px;
  padding: 2px;
}

.hobby-a:hover {
  opacity: 0.8;
}

.tab-2 > label {
  flex: 1 1;
  order: -1;
  opacity: 0.5;
  min-width: 70px;
  padding: 0.6em 1em;
  border-radius: 50px 50px 0 0;
  background-color: #e38800eb;
  color: #ffffff;
  font-size: 0.9em;
  box-sizing: border-box;
  text-align: center;
}

.tab-2 > label:hover {
  opacity: 0.9;
}

.tab-2 input {
  display: none;
}

.tab-2 > section {
  display: none;
  width: 100%;
  padding: 1.5em 1em;
  background-color: #fbfbfb;
}

.tab-2 label:has(:checked) {
  opacity: 1;
}

.tab-2 label:has(:checked) + section {
  display: block;
}

/* スライド */

.slide {
  display: grid;
  place-content: center;
  place-items: center;
  grid-auto-flow: row;
  margin: 0 auto;
}

.slide img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.slide-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  max-width: 500px;
  margin: auto 0;
}

.thumbnail {
  cursor: pointer;
  opacity: 0.3;
}

.active {
  opacity: 1;
}

.s-skill {
  display: none;
}

.design {
  width: 90vh;
  display: block;
  margin: 0 auto;
}

/*↓ メディアクエリ: スマホ対応 ↓*/
@media (max-width: 768px) {
  .tab-2 {
    width: 80%;
    margin: 50px auto;
  }

  .skill {
    display: none;
  }

  .s-skill {
    display: block;
  }
}
